/*
* FORGOT PASSWORD CSS STARTS HERE! *
*/
.main {
  display: flex;
  align-items: start;
}

.main-content,
.main-content-success {
  box-sizing: border-box;
  width: 100vw !important;
  max-width: 600px;
  background-color: white;
  padding: 64px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.main-content-success {
  display: none;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}

.main-content-success h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.main-content-success p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 400;
}

.note {
  margin-bottom: 48px;
}

.check-mail-img {
  margin-bottom: 16px;
}

.svgColor {
  fill: rgb(194, 138, 132);
}

.button-forgot-password {
  box-sizing: border-box;
  width: 100vw;
  max-width: 300px;
  height: 56px;
  background-color: rgb(194, 138, 132);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 11px 20px;
  transition: background-color 0.5s ease, color 0.5s ease;
  border: 2px solid rgb(194, 138, 132);
}

.button-forgot-password:hover {
  background-color: white;
  color: rgb(194, 138, 132);
}

.title {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

.text-box {
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px;
  margin: 32px 0;
}

.send-username-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-button-div {
  display: none;
}

.loading-button-div.active {
  display: flex;
}

.change-password-button {
  display: block;
  width: 100%;
  max-width: 350px;
  height: 56px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  padding: 11px 20px;
  background-color: rgb(194, 138, 132);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  border: 2px solid rgb(194, 138, 132);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.change-password-button:hover {
  background-color: white;
  color: rgb(194, 138, 132);
}

.new-password.invalid,
.confirm-password.invalid {
  border-color: rgb(206, 1, 1);
  outline-color: rgb(206, 1, 1) !important;
}

.new-password.invalid:hover,
.confirm-password.invalid:hover {
  border-color: rgb(206, 1, 1);
}

.toggle-button-div {
  padding-left: 16px;
}
/*
* FORGOT PASSWORD CSS ENDS HERE! *
*/

/* Mobile Version CSS starts here! */
.five-link svg path {
  stroke: grey;
}

@media (max-width: 600px) {
  .main-content {
    border-radius: 0;
  }
}
/* Mobile Version CSS ends here! */
