/*General CSS starts here!*/

html {
  scroll-behavior: smooth;
  height: 100%;
  min-height: 100svh;
  overflow-x: hidden;
  overflow-y: hidden;
  /* DONT PUT OVERFLOW: HIDDEN IT WILL CAUSE PROBLEMS ! */
}

body {
  font-family: Barlow;
  font-weight: 600;
  margin: 0;
  height: 100%;
  min-height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
}

.blur-hide-scroll-bar {
  overflow: hidden;
}

p {
  margin: 0px;
}
/*General CSS ends here!*/
