* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header starts here!  */
.ul-header a:hover {
  color: rgb(194, 138, 132) !important;
}

.ul-header a:hover::after {
  transform: scaleX(1) !important;
}

.second-link {
  color: black;
}

.second-link:hover {
  color: rgb(194, 138, 132);
}

.second-link::before {
  visibility: hidden;
}

.second-link::after {
  visibility: visible !important;
  transform: scaleX(0) !important;
}

.second-link:hover::after {
  transform: scaleX(1) !important;
}

/* Header ends here!  */

/* Main content starts here!  */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 100px;
  margin-bottom: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 570px;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-container {
  width: 100%;
}

.text-box {
  width: 100%;
}

.entryarea {
  width: 100%;
}

.button-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container button {
  width: 100%;
  max-width: 300px;
  background-color: rgb(194, 138, 132);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid rgb(194, 138, 132);
}

.button-container button:hover {
  background-color: white;
  color: rgb(194, 138, 132);
}
/* Main content ends here!  */

/* Mobile version starts here!  */
@media (max-width: 701px) {
  .ul-header {
    visibility: hidden;
  }
}
/* Mobile version ends here!  */
