::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #d7d7d7;
}

::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 6px;
}
