body {
  background-color: #e5e5e5;
  font-family: Barlow;
}

.ul-header li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul-header li a:hover {
  color: black;
}

.ul-header li a:hover::after {
  transform: scaleX(0);
}

.main {
  margin-top: 200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100%;
  max-width: 100%;
}

.main-content-wrapper {
  width: 600px;
  max-width: 600px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.main-content {
  border-radius: 10px;
}

.form {
  padding: 24px 48px;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.text-wrapper {
  display: flex;
  background-color: rgb(195, 195, 195);
  border-radius: 10px 10px 0 0;
}

.login-text,
.signup-text {
  flex: 1;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  background-color: rgb(195, 195, 195);
  height: 41.6px;
}

.login-text.active {
  background-color: white;
}

.signup-text.active {
  background-color: white;
}

.login-text h2,
.signup-text h2 {
  margin: 0 0 8px 0;
  font-size: 24px;
  font-weight: 600;
}

.text-box {
  width: 100% !important;
  height: 56px;
  margin: 30px 0;
}

.entryarea {
  height: 100%;
  position: relative;
}

.text-box input {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  font-size: 17px;
  line-height: 17px;
  font-family: Barlow;
  font-weight: 400;
  z-index: 1;
  background-color: transparent;
  padding: 0 16px;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: grey;
}

.text-box input:hover {
  border-color: black;
}

.text-box label {
  position: absolute;
  top: 18px;
  left: 15px;
  transition: 0.2s ease;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  color: grey;
}

.text-box input:hover + label {
  color: black;
}

.text-box label::after {
  content: "*";
  margin-left: 1px;
  font-size: 13px;
  position: absolute;
}

.text-box input:focus {
  outline-color: rgb(0, 76, 255);
}

.text-box input:user-valid + label {
  z-index: 2;
  background-color: white;
  transform: translate(-3px, -26.5px);
  padding-left: 3px;
  padding-right: 10px;
  font-size: 13px;
  color: black;
}

.text-box input:focus + label {
  z-index: 2;
  background-color: white;
  transform: translate(-3px, -26.5px);
  padding-left: 3px;
  padding-right: 10px;
  font-size: 13px;
  color: rgb(0, 76, 255);
}

.text-box input:user-invalid {
  border-color: rgb(206, 1, 1);
}

.text-box input:user-invalid + label {
  color: rgb(206, 1, 1);
}

.text-box input:user-invalid:focus {
  outline-color: rgb(206, 1, 1);
}

.label-username.active,
.label-password.active {
  z-index: 2;
  background-color: white;
  transform: translate(-3px, -26.5px);
  padding-left: 3px;
  padding-right: 10px;
  font-size: 13px;
  color: rgb(206, 1, 1);
}

.label-username.active-valid,
.label-alamat.active-valid,
.label-password.active-valid {
  z-index: 2;
  background-color: white;
  transform: translate(-3px, -26.5px);
  padding-left: 3px;
  padding-right: 10px;
  font-size: 13px;
  color: rgb(68, 71, 78);
}

.label-alamat.empty {
  transform: translate(0) !important;
  font-size: 16px !important;
  cursor: text;
  user-select: none;
}

/* Remove autofill color */
.username:-webkit-autofill,
.username:-webkit-autofill:hover,
.username:-webkit-autofill:focus,
.username:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.username.invalid,
.password.invalid,
.email.invalid,
.nohp.invalid {
  border-color: rgb(206, 1, 1) !important;
  outline-color: rgb(206, 1, 1) !important;
}

.label-username.invalid,
.label-password.invalid {
  color: rgb(206, 1, 1) !important;
}

.example-text-username,
.example-text-password,
.example-text-email,
.example-text-nohp {
  color: grey;
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
  padding-left: 5px;
}

.example-text-username.invalid,
.example-text-password.invalid,
.example-text-email.invalid,
.example-text-nohp.invalid {
  color: rgb(206, 1, 1);
}

.toggle-button-div {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

input[type="checkbox"].toggle {
  opacity: 0;
  position: absolute;
  left: -9000px;
  top: -9000px;
}

input[type="checkbox"].toggle + label {
  user-select: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"].toggle + label::before {
  content: "";
  width: 48.8px;
  height: 28.8px;
  background-color: rgb(224, 226, 236);
  border-radius: 2em;
  border: 1.6px solid grey;
  margin-right: 4px;
  transition: background-color 0.1s ease-in-out;
}

input[type="checkbox"].toggle:checked + label::before {
  content: "";
  width: 48.8px;
  height: 28.8px;
  border: 1.6px solid rgb(0, 92, 187);
  background-color: rgb(0, 92, 187);
  border-radius: 2em;
  margin-right: 4px;
  transition: background-color 0.1s ease-in-out;
}

input[type="checkbox"].toggle + label::after {
  content: "\2014";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  width: 24px;
  height: 24px;
  border-radius: 1em;
  background-color: grey;
  margin-right: 4px;
  position: absolute;
  left: 4px;
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

input[type="checkbox"].toggle:checked + label::after {
  content: "\2714";
  color: rgb(0, 92, 187);
  width: 24px;
  height: 24px;
  background-color: rgb(255, 255, 255);
  margin-right: 4px;
  position: absolute;
  transform: translateX(20px);
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

input[type="checkbox"].toggle:hover + label::after {
  box-shadow: 0 0 7px rgb(0, 0, 0);
  background-color: rgb(120, 120, 120);
  color: rgb(189, 189, 189);
}

input[type="checkbox"].toggle:checked:hover + label::after {
  box-shadow: 0 0 7px rgb(25, 90, 180);
  background-color: rgb(200, 225, 246);
  color: rgb(0, 92, 187);
}

input[type="checkbox"].toggle:active + label::after {
  box-shadow: 0 0 20px rgb(0, 0, 0);
  width: 26px;
  height: 26px;
}

input[type="checkbox"].toggle:checked:active + label::after {
  box-shadow: 0 0 20px rgb(25, 90, 180);
  width: 26px;
  height: 26px;
}

.forgot-password-link {
  height: 24px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 32px;
}

.forgot-password-link a {
  padding: 0;
  color: rgb(194, 138, 132);
  font-size: 16px;
  font-weight: 700;
}

.terms-privacy-div {
  margin-bottom: 24px;
}

.terms-privacy-div p {
  text-align: center;
  color: rgb(10, 10, 10);
  font-size: 16px;
  font-weight: 500;
  word-break: break-word;
}

.terms-privacy-div p a {
  color: rgb(194, 138, 132);
  cursor: pointer;
  padding: 0;
}

.login-button {
  display: block;
  width: 100%;
  height: 56px;
  margin: 16px 0;
  font-weight: 700;
  font-size: 18px;
  padding: 11px 20px;
  background-color: rgb(194, 138, 132);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.login-button:hover {
  background-color: white;
  border: 2px solid rgb(194, 138, 132);
  color: rgb(194, 138, 132);
}

.checkbox2-div {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.checkbox2 {
  display: flex;
  position: absolute;
  top: -2px;
  appearance: none;
  width: 19px;
  height: 18px;
  border: 1.6px solid rgb(68, 71, 78);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
  border-radius: 2px;
  z-index: 1;
}

.checkbox2:checked {
  background-color: rgb(0, 92, 187);
  border-color: rgb(0, 92, 187);
}

.label-checkbox2 {
  user-select: none;
  cursor: pointer;
  font-size: 14px;
  margin-left: 40px;
}

.label-checkbox2 a {
  padding: 0;
  font-size: 14px;
  color: rgb(194, 138, 132);
}

.unchecked-text {
  user-select: none;
  margin-left: 48px;
  color: red;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}

.checkbox2:checked ~ svg {
  position: absolute;
  top: 2px;
  left: 5.5px;
  width: 16px;
  height: 17px;
  cursor: pointer;
  z-index: 2;
}

.checkbox2:checked ~ svg path {
  width: 18px;
  height: 17px;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke: rgb(255, 255, 255);
  stroke-width: 3;
  animation: check 4s forwards;
}

.ripple {
  position: absolute;
  top: -9px;
  left: -6.5px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(189, 189, 189, 0.5);
  transform: scale(0);
}

.checkbox2:active ~ .ripple {
  animation: ripple 0.1s;
  background-color: rgba(173, 204, 255, 0.5);
}

.checkbox2:hover ~ .ripple,
.checkbox2:checked:hover ~ .ripple,
.checkbox2:checked ~ svg:hover + .ripple {
  transform: scale(1);
}

.checkbox2:checked ~ svg:hover + .ripple {
  background-color: rgba(173, 204, 255, 0.3);
}

.checkbox2:checked ~ svg:active + .ripple {
  animation: ripple 0.1s;
  background-color: rgba(189, 189, 189, 0.7);
}

@keyframes check {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes ripple {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.checkbox2:focus {
  outline: none;
}

.checkbox2:focus ~ .ripple {
  transform: scale(1);
  background-color: rgba(189, 189, 189, 0.7);
}

.checkbox2:checked:focus ~ .ripple {
  background-color: rgba(173, 204, 255, 0.3);
}

/* Mobile version */
.two-link svg path {
  stroke: grey !important;
}

.five-link svg path {
  stroke: rgb(194, 138, 132);
}

@media (max-width: 700px) {
  .ul-header {
    display: block !important;
  }

  .main {
    margin: 200px 0 300px 0 !important;
  }

  .main-content-wrapper {
    width: 100vw !important;
    border-radius: 0 !important;
    max-width: 100vw !important;
  }

  .login-text,
  .signup-text {
    border-radius: 0 !important;
  }

  .form {
    padding: 24px;
  }
}

@media (max-width: 425px) {
  .example-text-username {
    font-size: 12px !important;
  }

  .text-box {
    margin-bottom: 50px;
  }
}
