@import url("../shared/ordered-lists.css");
body {
  background-color: rgb(229, 229, 229);
  overflow-x: hidden;
}

body.hideScrollbar {
  overflow: hidden;
}
/* CSS for header starts here! */

.second-link {
  color: black;
}

.second-link::before {
  visibility: hidden;
}

.second-link::after {
  visibility: visible;
}

.third-link {
  color: rgb(194, 138, 132);
}

.third-link::after {
  transform: scale(1) !important;
}
/* CSS for header ends here! */

/* CSS for main content starts here! */
.main {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 60px 0;
  margin-top: 100px;
  min-height: 100svh; /** Use THIS TO FIX THE HEIGHT PROBLEM*/
}

.main-content {
  width: 100vw;
  max-width: 726px;
}

.main-content-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content-title button {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
  padding: 0 0 5px 0;
  color: rgba(140, 140, 140, 0.5);
  border-bottom: 2px solid rgb(138, 138, 138);
  transition: 0.5s ease;
}

.main-content-title button.active {
  color: black;
  font-weight: 700;
}

.main-content-title button.active::after {
  transform: scaleX(1);
}

.main-content-title button::after {
  content: "";
  background-color: rgb(194, 138, 132);
  cursor: pointer;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 5px;
  transition: 0.5s ease;
  transform: scaleX(0);
  transition: transform 0.5s ease; /* Transition the scale */
}

.main-content-title button:hover {
  color: black;
}

.main-content-title button:hover::after {
  transform: scaleX(1);
}

.no-order-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-order-image-container {
  margin-top: 110px;
}

.no-order-display p {
  font-size: 24px;
  font-weight: 700;
  color: rgb(140, 140, 140);
  margin-bottom: 30px;
}

.order-button {
  transition: 0.5s;
  background-color: rgb(194, 138, 132);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  border-radius: 10px 0 0 10px;
  border: 2px solid rgb(194, 138, 132);
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
  position: relative;
  padding: 11px 20px;
  text-align: center;
  width: 50vw;
  max-width: 350px;
  height: 42.2px;
  padding: 11px 20px;
  box-sizing: border-box;
}

.order-button:hover {
  background-color: transparent !important;
  color: rgb(194, 138, 132);
}

.order-date-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-status {
  font-size: 24px;
}

.order-status-text {
  font-weight: 400;
}

.order-status-text.pending,
.modal-title.pending {
  color: #ffa726; /* Material Design Orange 300 */
  text-shadow: 0 0 5px rgba(255, 167, 38, 0.5);
}

.order-status-text.ready,
.modal-title.ready {
  color: rgb(0, 149, 10);
  text-shadow: 0 0 5px rgba(0, 180, 12, 0.5);
}

.order-status-text.cancelled,
.modal-title.cancelled {
  color: rgb(255, 0, 0);
  text-shadow: 0 0 5px rgb(255, 0, 0);
}

/* CSS for the dialog starts here! */
.modal-title-and-close-button {
  background-color: rgb(229, 229, 229);
}

.modal-title {
  font-size: 32px;
  font-weight: 400;
}

.modal-closing-text {
  position: sticky;
  bottom: 0;
  background-color: rgb(229, 229, 229);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 10px 12px;
  z-index: 1000;
  box-shadow: 0 0 20px #2c2c2c26;
  text-align: center;
}

.modal-closing-text p {
  font-size: 28px;
}

.modal-scrollable-content {
  padding: 20px 20px;
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.restaurant-name {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.order-details div {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.order-details p {
  font-size: 18px;
}

.modal-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-item-container div {
  display: flex;
  align-items: center;
}

.modal-item-food-name {
  word-break: break-word;
  font-size: 20px !important;
  font-weight: 500;
  max-width: 30ch;
}

.modal-item-container strong {
  color: rgb(194, 138, 132);
}

.modal-item-price {
  font-size: 20px;
  font-weight: 400;
  margin: 0 5px;
}

.modal-item-quantity {
  font-size: 20px;
  font-weight: 400;
}

.modal-item-notes {
  font-size: 20px;
  font-weight: 400;
  word-break: break-word;
}

.modal-item-total-price {
  font-size: 25px;
  font-weight: 500;
}

.details-top {
  padding-top: 0;
  font-size: 25px;
  border-bottom: 2px solid rgb(173, 173, 173);
}

.basket-total-and-price {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(173, 173, 173);
}

.basket-total-and-price strong {
  font-size: 32px;
}
/* CSS for the dialog ends here! */

.order-status-and-lihat-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lihat-order-button {
  margin-top: 5px;
  transition: 0.5s ease-in-out;
  background-color: rgb(194, 138, 132);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  border-radius: 50px;
  border: 2px solid rgb(194, 138, 132);
  font-size: 14px;
  font-weight: 500;
  padding: 10px 10px;
  width: 100px;
}

.lihat-order-button:hover {
  background-color: transparent;
  color: rgb(194, 138, 132);
}

li::marker {
  vertical-align: middle;
  font-size: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.order-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-quantity {
  font-size: 24px;
  font-weight: 400;
  word-break: break-word;
  max-width: 30ch;
  color: rgb(140, 140, 140);
}

.order-date {
  font-size: 20px;
  font-weight: 500;
}

.total-orders {
  font-size: 24px;
  margin-top: 10px;
}

.print-button-container,
.print-button-container-active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.print-button-container-active {
  margin-bottom: 100px;
}

.print-button,
.print-button-active {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(194, 138, 132);
  background-color: rgb(194, 138, 132);
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 0 10px 10px 0;
  transition: 0.3s all ease;
  width: 30vw;
  max-width: 200px;
  height: 42.2px;
  box-sizing: border-box;
}

.print-button-active {
  border-radius: 10px;
}

.print-button:hover,
.print-button-active:hover {
  background-color: transparent;
  color: rgb(194, 138, 132);
}

.printer-icon {
  width: 20px;
  fill: white;
  margin-right: 5px;
  transition: 0.3s all ease;
}

.print-button:hover .printer-icon,
.print-button-active:hover .printer-icon {
  fill: rgb(194, 138, 132);
}

.order-button-and-print-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* CSS for main content ends here! */

/* CSS for printable area starts here! */
@media print {
  * {
    -webkit-print-color-adjust: exact; /* For WebKit browsers like Chrome, Safari */
    print-color-adjust: exact; /* For other modern browsers */
    max-width: 100%; /* Prevent elements from stretching */
    width: auto; /* Let it use content-based width */
  }

  body {
    padding-top: 100px;
    padding-bottom: 0 !important;
    overflow-y: hidden !important;
  }

  .mobile-header-container {
    display: none !important;
  }

  .print-button-active {
    display: none;
  }

  .main {
    padding: 60px 60px 0 60px !important;
    height: 100% !important;
    overflow: auto !important;
  }

  .display-current-order-button,
  .display-past-order-button {
    font-size: 18px !important;
  }

  .main-header,
  .footer {
    display: none; /* Hide header for printing */
  }

  .order-button,
  .print-button {
    display: none;
  }
}
/* CSS for printable area ends here! */

/* Mobile version */
.two-link svg path {
  stroke: grey !important;
}

.four-link svg path {
  stroke: rgb(194, 138, 132) !important;
}

@media (max-width: 700px) {
  .main {
    padding: 0 0 90px 0 !important;
  }

  .main-header {
    box-shadow: none !important;
  }

  .contour-cafe-logo {
    width: 70px !important;
    height: 70px !important;
  }

  .display-current-order-button,
  .display-past-order-button {
    border-bottom: none !important;
    width: 50vw !important;
    background-color: rgb(234, 228, 216) !important;
  }

  .total-orders {
    margin-top: 0px !important;
  }

  .orders-display-container {
    padding: 60px 20px 0 20px !important;
  }

  .order-quantity {
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .order-date-group {
    flex-direction: column;
  }
}

@media (max-width: 616px) {
  .food-preview-modal {
    min-height: 100svh;
    border-radius: 0;
  }

  .modal-scrollable-content {
    max-height: 100svh !important;
    height: 100svh !important;
  }
}

@media (max-width: 400px) {
  .display-current-order-button,
  .display-past-order-button {
    font-size: 18px !important;
  }

  .order-button {
    font-size: 12px !important;
    padding: 11px 15px !important;
  }

  .basket-total-and-price strong,
  .basket-subtotal-and-price strong,
  .basket-tax-and-price strong {
    font-size: 24px !important;
  }
}

@media (max-width: 380px) {
  .basket-total-and-price strong,
  .basket-subtotal-and-price strong,
  .basket-tax-and-price strong {
    font-size: 20px !important;
  }

  .main-content-title button {
    font-size: 16px !important;
  }
}

@media (max-width: 332px) {
  .basket-total-and-price strong,
  .basket-subtotal-and-price strong,
  .basket-tax-and-price strong {
    font-size: 18px !important;
  }
}
