/* CSS for headers link starts here! */
.eight-link {
  color: black !important;
}

.eight-link::after {
  transform: scale(0) !important;
}

.eight-link:hover::after {
  transform: scale(0);
}

.eight-link:hover {
  color: black !important;
}

.ninth-link {
  color: rgb(194, 138, 132);
}

.ninth-link:hover {
  color: rgb(194, 138, 132) !important;
}

.ninth-link::after {
  transform: scale(1) !important;
}

.fourth-link::after {
  transform: scale(0) !important;
}

.fourth-link:hover::after {
  transform: scale(1);
}
/* CSS for header links ends here! */

/* Mobile version CSS starts here! */
.two-link {
  color: black !important;
}

.two-link:hover {
  color: rgb(194, 138, 132) !important;
}

.two-link::before {
  transform: scaleX(0) !important;
}

.two-link::after {
  transform: scaleX(0) !important;
}

.two-link:hover::before {
  transform: scaleX(1) !important;
  visibility: visible !important;
}

.ten-link {
  color: rgb(194, 138, 132) !important;
}

.ten-link::before {
  transform: scaleX(1) !important;
}

@media (max-width: 1036px) {
  .nav-button {
    font-size: 2.3vw;
  }
}

@media (max-width: 701px) {
  .nav-button {
    font-size: 24px;
  }
}
/* Mobile version CSS ends here! */
