@import url("../../shared/ordered-lists.css");
/* CSS for header starts here! */
.ul-header li {
  margin-left: 0 !important;
}

.third-link {
  color: black;
}

.third-link::before {
  transform: scale(0);
}

.third-link:hover::before {
  transform: scale(1) !important;
}

.third-link::after {
  transform: scale(0) !important;
}

.third-link:hover::after {
  transform: scale(1) !important;
}
/* CSS for header ends here! */

/* CSS for main contents start here! */
.main {
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.main-content-container {
  box-sizing: border-box;
  width: 90vw !important;
  max-width: 725px !important;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.user-details-container {
  margin-bottom: 10px;
}

.user-details-container div {
  display: flex;
  align-items: center;
}

.user-details-container div a {
  padding-top: 5px;
  padding-left: 0;
  padding-right: 0;
  margin-right: 10px;
}

.user-details-container p {
  font-size: 20px;
  font-weight: 700;
}

.user-details-container span {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-left: 35px;
}

.order-quantity {
  word-break: break-word;
  max-width: 25ch;
}

.print-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 725px;
  border-radius: 0 0 10px 10px;
}

.print-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(194, 138, 132);
  background-color: rgb(194, 138, 132);
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.3s all ease;
  width: 200px;
}

.print-button:hover {
  background-color: white;
  color: rgb(194, 138, 132);
}

.printer-icon {
  width: 20px;
  fill: white;
  margin-right: 5px;
  transition: 0.3s all ease;
}

.print-button:hover .printer-icon {
  fill: rgb(194, 138, 132);
}
/* CSS for main contents ends here! */

/* CSS for printable area starts here! */
@media print {
  * {
    -webkit-print-color-adjust: exact; /* For WebKit browsers like Chrome, Safari */
    print-color-adjust: exact; /* For other modern browsers */
    max-width: 100%; /* Prevent elements from stretching */
    width: auto; /* Let it use content-based width */
  }

  .main-header,
  .footer {
    display: none; /* Hide header for printing */
  }

  .form-date-container label {
    font-size: 18px;
    margin: 0 20px;
  }

  .search-button,
  .clear-button {
    display: none; /* Hide buttons for printing */
  }

  .sales-report-title {
    font-size: 28px;
  }

  .ul-order-items li p {
    font-size: 16px;
    font-weight: 500;
  }

  .ul-order-items li span {
    font-size: 16px;
    font-weight: 400;
    color: rgb(194, 138, 132);
  }

  .ul-order-items li strong {
    font-size: 16px;
    font-weight: 700;
    color: rgb(194, 138, 132);
  }

  .print-button {
    display: none; /* Hide the print button for printing */
  }
}
/* CSS for printable area ends here! */

/* Mobile version CSS starts here! */
.four-link {
  color: black;
}

.four-link::before {
  transform: scaleX(0) !important;
}

.four-link:hover::before {
  transform: scaleX(1) !important;
}

@media (max-width: 700px) {
  .main {
    padding: 30px 0 30px 0 !important;
  }

  .main-content-container {
    width: 100vw !important;
    max-width: 100vw !important;
    border-radius: 0 !important;
    padding: 30px 0 30px 0 !important;
  }

  .main-content-title {
    background-color: transparent !important;
    width: 100vw !important;
    max-width: 100vw !important;
  }

  .main-content-title button {
    background-color: transparent !important;
    width: 50% !important;
    max-width: 50% !important;
    border-bottom: 1px solid #000000 !important;
  }

  .user-details-container div {
    padding-left: 30px !important;
  }

  .user-details-container span {
    margin-left: 65px !important;
  }

  .orders-display-container {
    padding-top: 10px !important;
  }
}
/* Mobile version CSS ends here! */
