/* *CSS for general starts here!* */
body {
  background-color: rgb(229, 229, 229);
  overflow-x: hidden;
}

body.hideScrollbar {
  overflow: hidden;
}
/* *CSS for general ends here!* */

/* *CSS for header links starts here!* */

.second-link {
  color: black;
}

.second-link::before {
  visibility: hidden;
}

.second-link::after {
  visibility: visible;
}

.fourth-link {
  color: rgb(194, 138, 132);
}

.fourth-link::after {
  transform: scale(1) !important;
}
/* *CSS for header links ends here!* */

/** CSS for add category dialog starts here!*/
.form-dialog {
  overflow: auto;
}

.add-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-scrollable-content {
  padding: 30px;
}

.input-text {
  font-size: 32px;
  font-weight: 500;
}

.text-box {
  position: relative;
}

.input-category-name {
  width: 90%;
  height: 40px;
  background-color: white;
  padding: 0 16px;
  border: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: grey;
  font-size: 17px;
  line-height: 17px;
  font-family: Barlow;
  font-weight: 400;
}

.input-category-name:hover {
  border-color: black;
}

.input-category-name:focus {
  outline-color: rgb(0, 76, 255);
}

.input-category-name:user-invalid {
  border-color: rgb(206, 1, 1);
}

.input-upload-image {
  display: none;
}

.upload-image-label {
  margin-top: 10px;
  width: 173px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(194, 138, 132);
  color: white;
  padding: 8px 12px;
  border: 2px solid rgb(194, 138, 132);
  border-radius: 10px;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
}

.upload-image-label:hover {
  background-color: white;
  color: rgb(194, 138, 132);
}

.add-button-dialog {
  user-select: none;
}
/** CSS for add category dialog ends here!*/

/* *CSS for main content starts here!* */
.main {
  margin-top: 100px;
  padding: 30px 30px;
  display: flex;
  justify-content: center;
  min-height: 100svh; /** Use THIS TO FIX THE HEIGHT PROBLEM*/
}

.main-section {
  width: 1530.4px;
}

.title-and-add-category-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  font-size: 30px;
  font-weight: 700;
}

.add-category-button,
.add-button-dialog {
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  background-color: rgb(194, 138, 132);
  color: white;
  padding: 10px 20px;
  border: 2px solid rgb(194, 138, 132);
  border-radius: 10px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.add-category-button:hover,
.add-button-dialog:hover {
  background-color: white;
  color: rgb(194, 138, 132);
}

.total-sections-counter {
  margin: 20px 0;
  font-size: 24px;
  font-weight: 500;
  color: rgb(194, 138, 132);
}

/*?CSS FOR CATEGORY starts here! ?*/
.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 1228.8px) {
  .category-container {
    grid-template-columns: repeat(3, 1fr); /* 2 equal-width columns */
  }
}

/* When the screen width is 877.71px or smaller, change to 2 columns */
@media (max-width: 877.71px) {
  .category-container {
    grid-template-columns: repeat(2, 1fr); /* 2 equal-width columns */
  }
}

/* When the screen width is 480px or smaller, change to 1 column */
@media (max-width: 614.4px) {
  .category-container {
    grid-template-columns: 1fr; /* 1 column */
  }
}

.kategori-item {
  background-color: white;
  padding: 16px;
  border-radius: 10px;
}

.category-image {
  width: 100%;
}

.category-name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.total-items-category {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.category-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button-form {
  width: 100%;
  margin: 0 10px;
}

.edit-category-button {
  margin: 0 10px;
}

.edit-category-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75% !important;
}

.edit-category-button,
.delete-category-button {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  background-color: rgb(194, 138, 132);
  color: white;
  padding: 10px 20px;
  border: 2px solid rgb(194, 138, 132);
  border-radius: 10px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.edit-category-button:hover,
.delete-category-button:hover {
  background-color: white;
  color: rgb(194, 138, 132);
}

.error-message {
  color: red;
  font-size: 16px;
  font-weight: 500;
}
/*?CSS FOR CATEGORY ends here! ?*/
/* *CSS for main content ends here!* */

/* Mobile version starts here! */
.two-link {
  color: black;
}

.two-link::after {
  visibility: hidden;
}

.two-link::before {
  visibility: visible !important;
}

.five-link {
  color: rgb(194, 138, 132);
}

.five-link::before {
  transform: scale(1) !important;
}

@media (max-width: 617px) {
  .modal-scrollable-content {
    height: 100svh;
  }
}

@media (max-width: 520px) {
  .main-title {
    font-size: 20px;
  }

  .add-category-button {
    font-size: 20px;
  }
}

@media (max-width: 410px) {
  .main-title {
    font-size: 18px;
  }

  .add-category-button {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .title-and-add-category-button {
    flex-direction: column;
  }

  .main-title {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .add-category-button {
    font-size: 24px;
    width: 100%;
  }
}
/* Mobile version ends here! */
