@import url("../../shared/ordered-lists.css");
/* Mobile version navigation bar starts here! */
.two-link {
  color: black;
}

.two-link::before {
  visibility: visible !important;
}

.two-link::after {
  visibility: hidden !important;
}
/* Mobile version navigation bar ends here! */

/* Main content CSS starts here! */
.food-lists-container {
  list-style: none;
}

/* Main content CSS starts here! */
