/* CSS for header links starts here! */
.fifth-link {
  color: black !important;
}

.fifth-link::after {
  transform: scale(0) !important;
}

.fifth-link:hover::after {
  transform: scale(1) !important;
}

.fifth-link:hover {
  color: black !important;
}

.sixth-link {
  color: rgb(194, 138, 132);
}

.sixth-link:hover {
  color: rgb(194, 138, 132) !important;
}

.sixth-link::after {
  transform: scale(1) !important;
}
/* CSS for header links ends here! */

/* CSS for main content starts here! */
.search-bar-and-add-user-button-container {
  padding-bottom: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
/* CSS for main content ends here! */

/* Mobile Version CSS starts here! */
.six-link {
  color: black !important;
}

.six-link:hover {
  color: rgb(194, 138, 132) !important;
}

.six-link::before {
  transform: scaleX(0) !important;
}

.six-link:hover::before {
  transform: scaleX(1) !important;
}

.seven-link {
  color: rgb(194, 138, 132) !important;
}

.seven-link::before {
  transform: scaleX(1) !important;
}

@media (max-width: 600px) {
  .user-details-container {
    flex-direction: column;
  }

  .user-details {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
  }

  .user-details-container p {
    word-break: break-word;
  }

  .user-action-buttons-container {
    margin-top: 10px;
  }
}
/* Mobile Version CSS ends here! */
